| Test | Taken Action | Expected result | Actual result | PASS/FAIL | Time        | 
|------|--------------|-----------------|---------------|-----------|-------------|
| Start system | Press **RESET** button | System restarts | Systems restarts | PASS | 2s |
| Toggle | Press toggle-button **(SW3)**| LED flashing | LED flashing| PASS | Instant |
| Temperature | Press temp-button **(SW2)**| Prints temperature | Prints temperature | PASS | Instant |
| Auto temp | Wait for temp to print automaically | Prints temperature | Prints temperature | PASS | 60s |
| Toggle  | Press toggle-button **(SW3)** | LED stop flashing | LED stop flashing | PASS | Instant |
| Toggle | Press toggle-button **(SW3)**| LED flashing | LED flashing| PASS | Instant |
| Toggle-state | Press **RESET** button | LED flashing | LED flashing | PASS | 2 s |
| Toggle  | Press toggle-button **(SW3)** | LED stop flashing | LED stop flashing | PASS | Instant |
| Toggle-state | Press **RESET** button | LED stop flashing | LED stop flashing | PASS | 2 s |